body {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  text-align: center;
}
h2 {
  margin: 0 0 5px;
  font-size: 23px;
}
footer {
  text-align: center;
  line-height: 60px;
  font-size: 13px;
}
select {
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  font-size: 15px;
}

.container {
  max-width: 500px;
  display: block;
  margin: 0 auto;
  background: #d8dbe6;
  border-radius: 10px;
  padding: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.city {
  display: flex;
  margin: 20px 0;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}
.city:last-child {
  border: none;
}
.time {
  font-size: 25px;
  font-weight: bold;
}
.time small {
  font-size: 15px;
  vertical-align: middle;
  line-height: 10px;
}
.date {
  opacity: 0.4;
  font-size: 15px;
}
